<div class="container">

     <style type="text/css">
    .detective {
    	color: #BADA55;
    }

    .wetenschap {
    	color: #C0FFEE;
    }

    .overig {
    	color: #D13537;
    }

    </style>

    <div class="col-lg-6">
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="Zoek een boek.." ng-model="searchTerm">
	    </div>
	</div>

	<br><br/>

    <table class="table">
    	<thead>
    		<tr>
    			<th>ISBN</th><th>Titel</th><th></th><th>Categorie</th><th>Auteur</th><th>Beschrijving</th><th>Prijs</th><th></th>
    		</tr>
    	</thead>
    	<tbody>

            <!-- FOREACH item IN array -->
    		<tr ng-repeat="item in items | filter: searchTerm">
                	<td>
                    <span ng-hide="item.updating">{{item.isbn}}</span>
                    <input type="text" ng-model="item.isbn" ng-show="item.updating">
                </td>
    			<td>
                    <span ng-hide="item.updating">{{item.titel}}</span>
                    <input type="text" ng-model="item.titel" ng-show="item.updating">

                </td>
                <td>
                    <td ng-class="{detective: item.categorie==='Detective', wetenschap: item.categorie==='Wetenschap', overig: item.categorie==='Overig'}">

                                   {{item.categorie}}
                </td>
               	<td>
                    <span ng-hide="item.updating">{{item.auteur}}</span>
                    <input type="text" ng-model="item.auteur" ng-show="item.updating">
                </td>
                  	<td>
                    <span ng-hide="item.updating">{{item.beschrijving}}</span>
                    <input type="text" ng-model="item.beschrijving" ng-show="item.updating">
                </td>
                <td>
                    <span ng-hide="item.updating">{{item.prijs}}</span>
                    <input type="text" ng-model="item.prijs" ng-show="item.updating">
                </td>
                <td>
                    
                </td>
                <td>
                    <button type="button" class="btn btn-success" ng-click="updateItem(item)" ng-show="item.updating">Save</button>

                    <button type="button" class="btn btn-warning" ng-click="item.updating=true;" ng-hide="item.updating">Update</button>

                    <button type="button" class="btn btn-danger" ng-click="deleteItem(item)">Verwijderen</button>
                </td>
    		</tr>

    	</tbody>
    </table>

    <hr>

    <form name="bookForm">
	  <div class="form-group">
	    <label for="itemInput">Nieuw boek toevoegen</label>
        <input type="number"  name="isbn" class="form-control" id="itemInput" min="00000000" max="99999999" placeholder="ISBN Nummer ..." ng-model="newItem.isbn" required>
                <span style="color:red" ng-show= bookForm.isbn.$dirty && bookForm.isbn.$invalid &&
                    ng-show="bookForm.isbnr.$erro.required">ISBN is verplicht.</span>
                </br>
            <div>     
	    <input type="text" class="form-control" id="itemInput" placeholder="titel ..." ng-model="newItem.titel" required>
	  </div></br>
	  <div class="form-group">
	  	<select class="form-control" ng-model="newItem.categorie" required>
		  <option ng-repeat="cat in categories" value="{{cat}}">{{cat}}</option>
		</select>
	  </div></br>
      <input type="text" class="form-control" id="itemInput" placeholder="auteur ..." ng-model="newItem.auteur" required>
</br>
      <input type="text" class="form-control" id="itemInput" placeholder="beschrijving ..." ng-model="newItem.beschrijving" required>
</br>
      <input type="number" class="form-control" id="itemInput" min="1.00" max="99.99" placeholder="prijs ..." ng-model="newItem.prijs"required>
</br>
	  <button type="button" class="btn btn-danger">Ongedaan maken</button>

	  <button type="submit" class="btn btn-primary" ng-disabled="bookForm.$invalid" ng-click="saveNewItem()">Opslaan</button>
	</form>

</div>


