<div class="container">
 <h1>Boekenlijst</h1>
    <div class="col-lg-6">
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="Zoeken op..." ng-model="searchTerm">
	    </div>
	</div>

	<br><br/>

    <table class="table">
    	<thead>
    		<tr>
    			<th>ISBN</th><th>Titel</th><th></th><th>Categorie</th><th>Uitgeverij</th><th>Auteur</th><th>Beschrijving</th><th>Prijs</th><th></th>
    		</tr>
    	</thead>
    	<tbody>
            
            <!-- FOREACH item IN array -->
    		<tr ng-repeat="item in items | filter: searchTerm track by $index">
                	<td>
                    <span ng-hide="item.updating">{{item.isbn}}</span>
                    <input type="text" ng-model="item.isbn" ng-show="item.updating">
                </td>
    			<td>
                    <span ng-hide="item.updating">{{item.titel}}</span>
                    <input type="text" ng-model="item.titel" ng-show="item.updating">

                </td>
                <td>
                    <td ng-class="{detective: item.categorie==='Detective', wetenschap: item.categorie==='Wetenschap', overig: item.categorie==='Overig'}">

                                   {{item.categorie}}
                </td>
               	<td>
                    <span ng-hide="item.updating">{{item.auteur | makeUppercase}}</span>
                    <input type="text" ng-model="item.auteur" ng-show="item.updating">
                </td>
                  	<td>
                    <span ng-hide="item.updating">{{item.beschrijving}}</span>
                    <input type="text" ng-model="item.beschrijving" ng-show="item.updating">
                </td>
                <td>
                    <span ng-hide="item.updating">{{item.prijs}}</span>
                    <input type="text" ng-model="item.prijs" ng-show="item.updating">
                </td>
                <td>
                </td>
    	</tbody>
    </table>
</div>


