<div class="container">
  </head>

  <body ng-app="bookApp" ng-controller="bookController">

        <div id="main">
        
            <div class="main_top">
            
            </div>
            
            <div class="main_body">

    <br>
    <div class="col-lg-6">
	    <div class="input-group">
	    </div>
	</div>

	<br><br/>

    <table class="table">
    	<thead>
    		<tr>
    		</tr>
    	</thead>
    	<tbody>

            <div class="form-group">
	    <label for="itemInput">Gebruikersnaam</label>
	    <input type="text" class="form-control" id="itemInput" placeholder="Gebruikersnaam">
        <label for="itemInput">Wachtwoord</label>
	    <input type="password" class="form-control" id="itemInput" placeholder="Wachtwoord">
	  </div>

	  <button type="submit" class="btn btn-primary" ng-click="login()">Inloggen</button>
	</form>
  
    	</tbody>
    </table>
                   <script type="text/javascript" src="../script/bookController.js"></script>
                

    <div class="main_bottom"></div>
            
        </div>
        
        
        
        <div id="footer">

        </div>
        
        </div>
  </body>
</html>


</head>

</div>




