<div class="container">
  </head>

    <br>
    <div class="col-lg-6">
	    <div class="input-group">
	    </div>
	</div>

	<br><br/>

    <table class="table">
    	<thead>
    		<tr>
    		</tr>
    	</thead>
    	<tbody>

            <div class="form-group">
	    <label for="itemInput">Gebruikersnaam</label>
	    <input type="text" class="form-control" id="itemInput" placeholder="Gebruikersnaam">
        <label for="itemInput">Wachtwoord</label>
	    <input type="password" class="form-control" id="itemInput" placeholder="Wachtwoord">
	  </div>

	  <button type="submit" class="btn btn-primary" ng-click="login()">Inloggen</button>
	</form>
  
    	</tbody>
    </table>

</div>




